body {
  font-family: "Courier New", monospace;
  font-variant: normal;
  font-size: 20px;
  font-weight: lighter;
  font-style: normal;
  color:white;
  animation-name: sky;
  animation-duration: 5s;
  background-color: #016600;
}

h1 {
  position: relative;
  margin:auto;
  text-align: center;
  width: 80%;
  color:#4CAF4F;
  outline: lightyellow, 2px;
}

h2 {
  position: relative;
  text-align: center;
  width: 80%;
  margin: auto;
  color:navy;
}

div.spacer{
  height: 30px;
  width:100px;
}

div.projectlink {
  text-align: center;
  margin:auto;
}

p {
  font-family: "Courier New", monospace;
  text-align: center;
  width: 90%;
  margin: auto;
  color:navy;
  float:center;
  postion: center;
}

img.bio{
  max-width: 40%;
  display:block;
  float:center;
  position: relative;
  margin-left:auto;
  margin-right:auto;
  border-style: solid;
  border-color:#4CAF4F;
  border-width: 5px;
}

a{
color: yellow;
}

img.tree {
  animation-name: grow;
  animation-duration: 4s;
  max-width: 90%;
  background-color: inherit;
  position: static;
  margin-left: 8%;
  margin-right: auto;
  float:center;
  opacity: 40%;
  z-index: -1;
}

@keyframes sky {
  0% {background-color:white; }
  25% {background-color:lightgreen;}
  50% {background-color:yellowgreen;}
  75% {background-color:bluegreen;}
  100% {background-color:#016600;}
}

@keyframes grow {
  0% {img.tree: -webkit-filter: invert(100%);filter: invert(100%)grayscale(100%);filter: grayscale(100%)}
  25% {img.tree: -webkit-filter: contrast(180%);filter: contrast(180%);}
  50% {img.tree: -webkit-filter: invert(100%);filter: invert(100%)}
  75% {img.tree:-webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);}
  100% {img.tree: -webkit-filter: drop-shadow(8px 8px 10px green);filter: drop-shadow(8px 8px 10px green);}
}
