body {
  margin: 2px;
  font-family: 'Helvetica', monospace;
  background: white;
}

p{
  font-size: 16pt;
}

h1 {
  margin-left: 200px;
}


image {
  position: absolute;
  float:none;
}

.first  {
  position: absolute;
  border-style: solid;
  padding: 30px;
  border-radius: 2px,2px, 2px, 2px;
  border-color: black;
  height: 400px;
  width: 250px;
}

.middle {
  margin-left: 320px;
  position: absolute;
  border-style: solid;
  padding: 30px;
  border-radius: 2px,2px, 2px, 2px;
  border-color: black;
  height: 400px;
  width: 250px;
}

.last {
  margin-left:640px;
  position: absolute;
  border-style: solid;
  padding: 30px;
  border-radius: 2px,2px, 2px, 2px;
  border-color: black;
  height: 400px;
  width:250px;
}

image {
  position: relative;
  float:none;
}

img.factory{
  max-width:200px;
  padding:0,0, 5%, 10%;
}

img.shipping{
  mac-width:200px;
 margin:0,0,-10%,0;
}

img.protest{
  max-width:200px;
  padding:0,0,0px,100px;
  position: center;
  margin-left:50px;
}

img.globe{
  max-width:150px;
  position:center;
  margin-left: : 50px;
}

img.people {
  max-width: 300px;
  position:center;
}
